@import "font.css";


html {
  visibility: visible;
  opacity: 1;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
section {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "HN";
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  font-size: 13px;
  font-weight: 400;
}
header{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 10px;
  padding-top: 10px;
  nav ul{
    display: flex;
    text-transform: uppercase;
    a{
      text-decoration: none;
      color:black;
    }
    li{
      margin-left: 10px;
      cursor: pointer;
    }
  }
}


.page-container{
  position: relative;
  height: 100%;
  height: 100vh;
}

.about-container{
  height: 500px;
  width:500px;
  background: #151515;
  color:white;
  overflow:hidden;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  z-index: 99;
  // -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);

  .close{
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    top:0;
    right:0;
    width:35px;
    height: 30px;
    z-index: 99;
    span{
    color: #fff;
    font-size: 15px;
    left: 0px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1;
    padding: 5px;
    position: absolute;
    top: 7px;
    z-index: 99;
    }
  }
  p{
    margin: 30px 0;
  }
  a{text-decoration: none;color:white;}
  h2{
    margin-bottom: 10px;
  }
  .wrapper{
    padding: 20px;
    position: relative;
  }
}

.clock{
  font-family: "Pixel";
  letter-spacing: 5px;
}

.hover-container{
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  height: 300px;
  width:800px;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  img{
    width:130px;
    height: auto;
    opacity: 0;
  }
  &:hover{
  img{
    opacity: 1;
  }
    cursor: url("data:image/svg+xml,%3Csvg width='108' height='19' viewBox='0 0   108 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.558701 3.03479H2.2587V1.07479H0.558701V3.03479ZM0.618701 14.9148H2.2187V4.59479H0.618701V14.9148ZM8.26261 15.1548C10.8026 15.1548 12.3626 14.0348 12.3626 12.0748C12.3626 10.3948 11.3426 9.53479 8.80261 9.03479L7.88261 8.85479C6.56261 8.59479 5.80261 8.23479 5.80261 7.25479C5.80261 6.29479 6.58261 5.73479 7.96261 5.73479C9.54261 5.73479 10.4826 6.17479 10.5626 7.77479H12.1626C12.1226 5.57479 10.7226 4.35479 7.96261 4.35479C5.60261 4.35479 4.20261 5.51479 4.20261 7.27479C4.20261 8.87479 5.18261 9.89479 7.42261 10.3148L8.38261 10.4948C10.1826 10.8348 10.7426 11.2548 10.7426 12.1748C10.7426 13.1948 10.0026 13.7748 8.26261 13.7748C6.44261 13.7748 5.68261 13.1948 5.50261 11.6348H3.88261C4.04261 14.0548 5.64261 15.1548 8.26261 15.1548ZM17.7071 3.03479H19.4071V1.07479H17.7071V3.03479ZM17.7671 14.9148H19.3671V4.59479H17.7671V14.9148ZM26.291 5.99479V4.59479H24.171V1.67479H22.571V4.59479H20.871V5.99479H22.571V12.8348C22.571 14.4148 23.551 14.9748 25.151 14.9748C25.471 14.9748 25.851 14.9548 26.291 14.9148V13.5748H25.351C24.431 13.5748 24.171 13.2348 24.171 12.6948V5.99479H26.291ZM31.7906 14.9148H33.3906V0.674795H31.7906V14.9148ZM44.2345 13.6148C43.8545 13.6148 43.6745 13.4348 43.6745 13.1148V7.35479C43.6745 5.61479 42.6545 4.35479 39.7945 4.35479C36.7745 4.35479 35.7145 5.77479 35.5945 7.77479H37.1945C37.2945 6.23479 38.0345 5.73479 39.7945 5.73479C41.5545 5.73479 42.1145 6.27479 42.1145 7.35479C42.1145 8.27479 41.5345 8.65479 40.4945 8.77479L39.0145 8.93479C36.1745 9.23479 35.1945 10.5148 35.1945 12.1348C35.1945 14.0748 36.5945 15.1548 38.8345 15.1548C40.3145 15.1548 41.4745 14.5948 42.1945 13.4948C42.2745 14.4748 42.7945 14.9748 43.9345 14.9748C44.2345 14.9748 44.5545 14.9548 44.8145 14.9148V13.6148H44.2345ZM38.9145 13.7948C37.4945 13.7948 36.8545 13.1148 36.8545 12.0948C36.8545 11.0948 37.3745 10.4548 39.2545 10.2348L40.7545 10.0548C41.3545 9.99479 41.7945 9.85479 42.1145 9.61479V10.8348C42.1145 12.8748 40.4545 13.7948 38.9145 13.7948ZM50.3535 5.99479V4.59479H48.2335V1.67479H46.6335V4.59479H44.9335V5.99479H46.6335V12.8348C46.6335 14.4148 47.6135 14.9748 49.2135 14.9748C49.5335 14.9748 49.9135 14.9548 50.3535 14.9148V13.5748H49.4135C48.4935 13.5748 48.2335 13.2348 48.2335 12.6948V5.99479H50.3535ZM60.8492 9.75479C60.8492 6.79479 59.1892 4.35479 56.1092 4.35479C53.2492 4.35479 51.3492 6.51479 51.3492 9.75479C51.3492 13.0948 53.3292 15.1548 56.1492 15.1548C58.6092 15.1548 60.0892 13.7148 60.5892 11.7748H58.9292C58.5692 12.9348 57.6492 13.6948 56.1892 13.6948C54.3892 13.6948 53.1692 12.6348 53.0092 10.3148H60.8492V9.75479ZM56.1092 5.81479C57.9492 5.81479 58.9692 7.17479 59.1292 8.87479H53.0492C53.3092 6.83479 54.4892 5.81479 56.1092 5.81479ZM67.5876 4.43479C65.9076 4.43479 64.8476 5.33479 64.2676 6.41479V4.59479H62.7476V14.9148H64.3476V9.03479C64.3476 7.03479 65.6676 5.99479 67.7276 5.99479H68.1276V4.45479C67.9076 4.43479 67.7476 4.43479 67.5876 4.43479ZM80.1665 4.59479L78.7065 8.87479C78.1865 10.3748 77.6865 11.8748 77.2265 13.3548C76.7465 11.8748 76.2665 10.3948 75.7465 8.89479L74.2865 4.59479H72.5265L76.4065 15.2548C76.2865 15.5748 76.1665 15.9148 76.0465 16.2148C75.7265 17.0348 75.1865 17.4948 74.1665 17.4948H73.2265V18.8348C73.5665 18.8748 73.8665 18.8948 74.1865 18.8948C75.8265 18.8948 76.8865 18.3548 77.5465 16.5348L81.9065 4.59479H80.1665ZM91.5914 9.75479C91.5914 6.79479 89.9314 4.35479 86.8514 4.35479C83.9914 4.35479 82.0914 6.51479 82.0914 9.75479C82.0914 13.0948 84.0714 15.1548 86.8914 15.1548C89.3514 15.1548 90.8314 13.7148 91.3314 11.7748H89.6714C89.3114 12.9348 88.3914 13.6948 86.9314 13.6948C85.1314 13.6948 83.9114 12.6348 83.7514 10.3148H91.5914V9.75479ZM86.8514 5.81479C88.6914 5.81479 89.7114 7.17479 89.8714 8.87479H83.7914C84.0514 6.83479 85.2314 5.81479 86.8514 5.81479ZM97.4043 5.99479V4.59479H95.2843V1.67479H93.6843V4.59479H91.9843V5.99479H93.6843V12.8348C93.6843 14.4148 94.6643 14.9748 96.2643 14.9748C96.5843 14.9748 96.9643 14.9548 97.4043 14.9148V13.5748H96.4643C95.5443 13.5748 95.2843 13.2348 95.2843 12.6948V5.99479H97.4043ZM102.191 11.1948H103.771C103.791 10.2948 103.811 9.89479 104.031 9.41479C104.351 8.71479 104.871 8.27479 105.531 7.71479C106.731 6.69479 107.631 5.67479 107.631 4.13479C107.631 1.61479 105.891 0.354794 103.231 0.354794C100.491 0.354794 98.6306 1.83479 98.5906 5.05479H100.231C100.371 2.53479 101.571 1.87479 103.291 1.87479C105.151 1.87479 105.931 2.77479 105.931 4.15479C105.931 5.29479 105.051 6.07479 104.171 6.85479C103.491 7.45479 102.851 8.05479 102.551 8.81479C102.271 9.51479 102.191 9.97479 102.191 11.1948ZM101.971 14.9148H103.991V12.9148H101.971V14.9148Z' fill='white'/%3E%3C/svg%3E%0A"), auto;
  }
}

.clock-container{
  position: absolute;
  z-index: -1;
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;

  .image-wrapper{
    width:800px;
    height: fit-content;
    position: relative;
    img{
      width:100%;
      height: auto;
    }
    .clock{
      position: absolute;
      color:white;
      font-family: sans-serif;
      font-size: 40px;
      top:50%;
      left: 50%;
      width:50px;
      text-align: center;
      font-family: "Pixel";
    }
    #ore{
      left: 23%;
      top: 40.5%;
    }
    #minuti{
      left: 41.5%;
      top: 40.5%;
    }
    #giorno{
      left:70%;
      font-size: 30px;
      top: 40.5%;
    }
    #mese{
      left:77%;
      font-size: 30px;
      top: 40.5%;
    }
  }
}

footer{
  position: absolute;
  bottom:10px;
  width:100%;
  text-transform: uppercase;
  width:100vw;
  overflow: hidden;
  h1{
    margin-right: 10px;
  }
}

.desktop{
  display: flex;
}
.mobile{
  display: none;
}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media only screen and (max-width:768px){

    .page-container{
      overflow: hidden;
    }

  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  #giorno, #mese{
    display: none;
  }
  body{
    overflow: hidden;
  }

footer, header{
  background: white;
  z-index: 9;
  font-size: 13px;
}
footer{
  bottom: 0;
}
header{
  padding: 7px 10px;
  box-sizing: border-box;
  position: fixed;
  width:100%;
}

.clock-container{
  z-index: 1;
  pointer-events: none;
  height: 100vh;
  overflow: hidden;
}

.about-container p {
  pointer-events: none;
}

.clock-container .image-wrapper{
  width:300px;
  .clock{
    color:#434342;
    font-size: 30px;
    width:35px;
    letter-spacing: normal;
  }
  .reply{
    position: absolute;
    font-size: 23px;
    left: 45%;
    position: absolute;
    top: 57.25%;
    font-family: "Pixel";
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    pointer-events: all;
    a{
      color: white;
      text-decoration: none;
    }
  }
  #ore, #minuti{
    display: none;
  }
  #oraCompleta{
    left: 47.5%;
    top: 50.3%;
    font-size: 36px;
    text-align: center;
  }
}


.about-container {
    height: 80vh;
    left: 10px;
    top: 10vh;
    width: calc(100% - 20px);
}
.about-container .wrapper{
  padding: 10px;
}

body{
  overflow: hidden;
}
body {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  // min-height: -webkit-fill-available;
  overflow: hidden;
}
html {
  height: -webkit-fill-available;
}

}
